 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Parking App</title>
</head>
<body>
<div style="width: 100%;">
        <div style="display: flex; justify-content: space-between; width: 100%; padding-left: 100px; padding-right: 100px; box-shadow: 2px 1px 2px #eee;">
            <div style="display: flex; align-items: center; flex-wrap: wrap; width: 100%;">
                <div style="padding: 20px; color: rgb(255, 0, 0); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 1.3rem;">Welcome {{username}}</div>  
                <div style="padding: 20px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Home</div>
                <div style="padding: 20px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Users</div>
                <div style="padding: 20px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Search</div>
                <div style="padding: 20px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Summary</div>
                <div style="padding: 20px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Logout</div>
                <div style="padding: 20px 0 20px 300px; color: #666; cursor: pointer; font-family: 'arial', serif; font-size: .9rem;">Edit Profile</div>
            </div>
        </div>
</div>

<!-- Content Below Navigation Bar -->
<div style="padding: 40px; background-color: #fff; font-family: Arial, sans-serif;">
    <h1 style="color: #333;">
        <center>Parking Lots</center>
    </h1>
    <h6 style="color: #666;">
        <center>This is the content below the navigation bar.</center>
    </h6>
</div>

</body>
</html>
