{% extends "layout.html" %}
{%block title %}
Login Page - Vehicle Parking System
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-justify-content-center">
        <div class="col-6 m-4">
            <h1 style="color:blue">Login</h1>
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name="username">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
            
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/register"><button type="button" class="btn btn-success">Register</button></a>
            </form>
        </div>
  
    </div>
</div>
{% endblock %}