<nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#" style="font-size: 1.5rem; font-weight: bold; letter-spacing: 1px;">
      Vehicle Parking
    </a>


    {%if session.get('username') %}

    <div class="d-flex align-items-center justify-content-end gap-4">
      <a class="nav-link" href="/logout">logout</a>
    </div>


    {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/register">Register</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    {% endif %}
  </div>
</nav>