{% extends 'layout.html' %}

{% block title %}
Spot Details | Vehicle Parking
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3 class="text-primary">Spot Details</h3>
  <div class="card p-4 shadow mt-3">
    <h5>Lot: {{ lot.location_name }}</h5>
    <p><strong>Address:</strong> {{ lot.address }}</p>
    <p><strong>Pincode:</strong> {{ lot.pincode }}</p>
    <hr>
    <p><strong>Spot ID:</strong> {{ spot.id }}</p>
    <p><strong>Status:</strong> 
      {% if spot.status == 'occupied' %}
        <span class="badge bg-danger">Occupied</span>
      {% else %}
        <span class="badge bg-success">Available</span>
      {% endif %}
    </p>
    <div> 
        {% if spot.status == 'occupied' %}
          <p><strong>Occupied By:</strong> {{ spot.vehicle_number }}</p>
          <p><strong>Start Date/Time of Parking:</strong> {{ spot.reserve_parking_spot[-1].start_time }}</strong></p>
          <p><strong>End Date/Time of Parking:</strong> {{ spot.reserve_parking_spot[-1].end_time }}</strong></p>
          <p><strong>Price:</strong> ₹{{ ((spot.reserve_parking_spot[-1].end_time - spot.reserve_parking_spot[-1].start_time).total_seconds() / 3600 * spot.lot.price) | int }}.00/-</p>
        {% endif %}
        <form method="POST" action="{{ url_for('delete_spot', lot_id=lot.id, spot_id=spot.id) }}">
          <button type="submit" class="btn btn-danger">Delete Spot</button>
        </form>
        <br>
        <a href="{{url_for('admin_dashboard')}}"><button type="submit" class="btn btn-success">Back to Dashboard</button></a>
  </div>
</div>
{% endblock %}
