{%extends 'layout.html'%}
{%block title%}
User Dashboard - Vehicle Parking System
{%endblock%}


{%block content%}

<div>
    <h2 class="text-left" style="font-family: 'Poppins', sans-serif;font-weight:600; color:red">
        Welcome, {{ session.get('username') }}!!
    </h2>
</div>

<div class="container-fluid bg-light p-3 mb-4 d-flex justify-content-start">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search By
        </button>
        <ul class="dropdown-menu p-3"><!--dropdown menu for search by different attributes-->

            <!-- Search by Location -->
            <form action="{{ url_for('search_parking_lots_by_location',location_name=location_name) }}" method="POST"
                class="mb-2">
                <input class="form-control mb-2" type="search" name="location_name"
                    placeholder="Search by Location Name" aria-label="Search" />
                <button class="btn btn-outline-primary w-100" type="submit">Search by Location</button>
            </form>

            <!-- Search by Pincode -->
            <form action="{{ url_for('search_parking_lots_by_pincode',pincode=pincode) }}" method="POST" class="mb-2">
                <input class="form-control mb-2" type="search" name="pincode" placeholder="Search by Pincode"
                    aria-label="Search" />
                <button class="btn btn-outline-primary w-100" type="submit">Search by Pincode</button>
            </form>

            <!-- Search by Address -->
            <form action="{{ url_for('search_parking_lots_by_address',address=address) }}" method="POST">
                <input class="form-control mb-2" type="search" name="address" placeholder="Search by Address"
                    aria-label="Search" />
                <button class="btn btn-outline-primary w-100" type="submit">Search by Address</button>
            </form>

        </ul>
    </div>
</div>

<div class="container">
    <h1 class="text-left my-2" style="color:blue">Parking Lots</h1>
    <div class="container-fluid col-12 my-3 mb-3 py-1">
        <table class="table table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Lot ID</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Price/Hour</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for lot in lots %}
                <tr>
                    <td>{{ lot.id }}</td>
                    <td>{{ lot.location_name }}</td>
                    <td>{{ lot.address }}</td>
                    <td>
                        {% if lot.available_spots > 0 %}
                        <span class="badge bg-success">{{ lot.available_spots }}</span><!-- Here we use badge to display the parking spot and it is showing whether the spot is available or occupied-->
                        {% else %}
                        <span class="badge bg-danger">Full</span>
                        {% endif %}
                    </td>
                    <td>₹{{ lot.price }}/hr</td>
                    <td>
                        <a href="{{url_for('book',lot_id=lot.id)}}" class="btn btn-primary btn-sm">Book</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}